%h2 All Bugs

%table.bugs{:border=>1, :cellspacing=>0, :cellpadding=>4}
  %tr
    %th ID
    %th Description
    %th Status
    %th
  -@bugs.each do |bug|
    %tr{:index =>"bug-#{bug.id}", :class => 'bug'}
      %td.id= bug.id
      %td.description= bug.description
      %td.status= bug.status
      %td.edit= link_to 'Edit', edit_bug_path(bug)
%br
=link_to 'New Bug', new_bug_path
